
<h1>{{vest.naslov}}</h1>
<br/>
<p>{{vest.sadrzaj}}</p>
<div>
        <button class="btn btn-danger" (click)="comment()">Ostavite komentar</button>
        <input name="komentar" [(ngModel)]="komentar">
</div>
<div *ngIf="vest.komentari">
        <h3>komentari:</h3>
        <ul>
            <li *ngFor="let k of vest.komentari">
                <app-child-comment [komentar]="k"></app-child-comment>

            </li>
        </ul>
    </div>
