<div class="row">
 <div class="col-md-4">
    <form class="form-inline" (ngSubmit)="filter()">
        <div class="form-inline">
            Kategorija:
            <select class="form-control" name="kategorija" [(ngModel)]="kategorija">
                <option *ngFor="let kategorija of kategorije" [ngValue]="kategorija">{{kategorija?.ime}}</option>
            </select>
        </div>
        <div class="form-group">
            Naslov:<input name="naslov" class="form-control" [(ngModel)]="vest.naslov">
        </div>
        <input type="submit" value="filter" class="btn btn-default">
    </form>
</div>

<div class="pull-right">
<div class="btn-group">
    <button class="btn btn-default" [disabled]="currentPage<1" (click)="changePage(-1)"><</button>
    <button class="btn btn-default" [disabled]="currentPage>numberOfPages-2" (click)="changePage(1)">></button>
</div>
</div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-default" [disabled]="currentPage<1" (click)="changePage(-1)"><</button>
                <button class="btn btn-default" [disabled]="currentPage>numberOfPages-2" (click)="changePage(1)">></button>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>naslov</th>
                <th>kategorija</th>
                <th>opis</th>
            </tr>
            <tr *ngFor="let v of vesti">
                <td>{{v.naslov}}</td>
                <td>{{v.kategorija.ime}}</td>
                <td>{{v.opis}}</td>
                <td>
                    <a class="btn btn-primary" href="vesti/{{v.id}}">Detalji</a>
                </td>
            </tr>
        </table>
    </div>
</div>