<div class="row"> 
    <div class="col-md-4">
        <form class="form-inline" (ngSubmit)="filter()">
            <div class="form-inline">
                Kategorija:
                <select class="form-control" name="kategorija" [(ngModel)]="kategorija">
                    <option *ngFor="let kategorija of kategorije" [ngValue]="kategorija">{{kategorija?.ime}}</option>
                </select>
            </div>
            <div class="form-group">
                Naslov:<input name="naslov" class="form-control" [(ngModel)]="vest.naslov">
            </div>
            <input type="submit" value="filter" class="btn btn-default">
        </form>
    </div>
    
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-default" [disabled]="currentPage<1" (click)="changePage(-1)"><</button>
                <button class="btn btn-default" [disabled]="currentPage>numberOfPages-2" (click)="changePage(1)">></button>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>naslov</th>
                <th>kategorija</th>
                <th>opis</th>
                <th>action</th>
            </tr>
            <tr *ngFor="let v of vesti">
                <td>{{v.naslov}}</td>
                <td>{{v.kategorija.ime}}</td>
                <td>{{v.opis}}</td>
                <td>
                    <button class="btn btn-primary" (click)="edit(v)">izmena</button>
                    <button class="btn btn-danger" (click)="delete(v)">brisanje</button>
                </td>
            </tr>
        </table>
   
      <div class="col-md-4">
        <form class="form" (ngSubmit)="save()">
            <div class="form-group">
                    Naslov:<input name="naslov" class="form-control" [(ngModel)]="vest.naslov">
            </div>
            <div class="form-group">
                <select class="form-control" name="kategorija" [compareWith]="byId" [(ngModel)]="vest.kategorija">
                    <option *ngFor="let kategorija of kategorije" [ngValue]="kategorija">{{kategorija?.ime}}</option>
                </select>
            </div>
            <div class="form-group">
                    Opis:<input name="opis" class="form-control" [(ngModel)]="vest.opis">
            </div>
            <div class="form-group">
                    Sadrzaj:<input name="sadrzaj" class="form-control" [(ngModel)]="vest.sadrzaj">
                </div>
            <input type="submit" value="save" class="btn btn-primary">
        </form>
    </div> 
    
</div>