{{komentar.tekst}}
<div>
  <button class="btn btn-danger" (click)="comment()">Ostavite komentar</button>
  <input name="komentar" [(ngModel)]="komentarNaKomentar">
</div>
<div *ngIf="komentar.children">
  <ul>
    <li *ngFor="let k of komentar.children">
      <app-child-comment [komentar]="k"></app-child-comment>
    </li>
  </ul>
</div>